@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
* {
  box-sizing: border-box;
}

.anteikudevs-fileupload {
  --file-upload-background: #fff;
  --file-upload-primary: #f57272;
  --file-upload-secondary: #fffcec;
  --file-upload-tertiary: #FFB68F;
  position: relative;
  user-select: none;
  font-family: "Poppins", sans-serif !important;
  max-width: 400px;
}
.anteikudevs-fileupload img {
  max-width: 100%;
}
.anteikudevs-fileupload .anteikudevs-fileupload\:content {
  background-color: var(--file-upload-background, #fff);
  width: 100%;
  display: flex;
  flex-direction: row;
  border-radius: 10px;
  align-items: center;
  padding: 0.8rem 1rem;
  gap: 1rem;
  grid-row: 2/span 2;
  box-shadow: 0 0 10px rgba(100, 100, 100, 0.15);
  transition: all 0.2s linear;
  animation: zoomIn;
  animation-duration: 0.2s;
  position: relative;
  border-image-width: 5px;
  overflow: hidden;
  flex-wrap: wrap;
}
.anteikudevs-fileupload .anteikudevs-fileupload\:content.drag {
  border-color: #FFD424;
}
.anteikudevs-fileupload .anteikudevs-fileupload\:content.drop {
  border-color: #03AC0E;
}
.anteikudevs-fileupload .anteikudevs-fileupload\:content .anteikudevs-fileupload\:icon {
  width: 70px;
  height: 70px;
  border-radius: 5px;
  background-color: var(--file-upload-secondary, #fffcec);
  border: 1px solid var(--file-upload-primary, #f57272);
  color: var(--file-upload-primary, #f57272);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  font-size: 20px;
  position: relative;
  padding: 0.8rem 0;
}
.anteikudevs-fileupload .anteikudevs-fileupload\:content .anteikudevs-fileupload\:icon .anteikudevs-fileupload\:icon_svg {
  width: 20px;
  height: 20px;
  margin-bottom: 5px;
}
.anteikudevs-fileupload .anteikudevs-fileupload\:content .anteikudevs-fileupload\:icon .anteikudevs-fileupload\:icon_svg svg path {
  fill: var(--file-upload-primary, #f57272);
}
.anteikudevs-fileupload .anteikudevs-fileupload\:content .anteikudevs-fileupload\:icon .anteikudevs-fileupload\:highlight {
  width: 100%;
  font-size: 10px;
  display: block;
  color: var(--file-upload-primary, #f57272);
  text-align: center;
}
.anteikudevs-fileupload .anteikudevs-fileupload\:content .anteikudevs-fileupload\:info {
  flex: 1;
}
.anteikudevs-fileupload .anteikudevs-fileupload\:content .anteikudevs-fileupload\:info .anteikudevs-fileupload\:info_title {
  margin: 0;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 5px;
}
.anteikudevs-fileupload .anteikudevs-fileupload\:content .anteikudevs-fileupload\:info .anteikudevs-fileupload\:info_span {
  font-size: 12px;
  color: #6c757d;
  display: block;
}
.anteikudevs-fileupload .anteikudevs-fileupload\:content .anteikudevs-fileupload\:action {
  width: 100%;
  text-align: right;
}
@media screen and (min-width: 768px) {
  .anteikudevs-fileupload .anteikudevs-fileupload\:content .anteikudevs-fileupload\:action {
    width: 90px;
  }
}
.anteikudevs-fileupload .anteikudevs-fileupload\:content .anteikudevs-fileupload\:action .anteikudevs-fileupload\:action_browse.disabled {
  pointer-events: none;
  background-color: #f8f9fa;
  color: #ced4da;
  border-color: transparent;
}
.anteikudevs-fileupload .anteikudevs-fileupload\:content .anteikudevs-fileupload\:action .anteikudevs-fileupload\:action_browse.disabled svg {
  fill: #ced4da;
}
.anteikudevs-fileupload .anteikudevs-fileupload\:content .anteikudevs-fileupload\:action .anteikudevs-fileupload\:action_browse {
  transition: all 0.2s linear;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: var(--file-upload-background, #fff);
  border-radius: 10px;
  border: 1.5px solid var(--file-upload-primary, #f57272);
  color: var(--file-upload-primary, #f57272);
  padding: 10px 12px;
  user-select: none;
  cursor: pointer;
  width: 100%;
}
.anteikudevs-fileupload .anteikudevs-fileupload\:content .anteikudevs-fileupload\:action .anteikudevs-fileupload\:action_browse svg {
  width: 20px;
  margin-right: 0.3rem;
  fill: var(--file-upload-primary, #f57272);
  transition: fill 0.3s linear;
}
.anteikudevs-fileupload .anteikudevs-fileupload\:content .anteikudevs-fileupload\:action .anteikudevs-fileupload\:action_browse:focus,
.anteikudevs-fileupload .anteikudevs-fileupload\:content .anteikudevs-fileupload\:action .anteikudevs-fileupload\:action_browse:hover,
.anteikudevs-fileupload .anteikudevs-fileupload\:content .anteikudevs-fileupload\:action .anteikudevs-fileupload\:action_browse:active {
  border-color: transparent;
  background-color: var(--file-upload-primary, #f57272);
  color: var(--file-upload-background, #fff);
}
.anteikudevs-fileupload .anteikudevs-fileupload\:content .anteikudevs-fileupload\:action .anteikudevs-fileupload\:action_browse:focus svg,
.anteikudevs-fileupload .anteikudevs-fileupload\:content .anteikudevs-fileupload\:action .anteikudevs-fileupload\:action_browse:hover svg,
.anteikudevs-fileupload .anteikudevs-fileupload\:content .anteikudevs-fileupload\:action .anteikudevs-fileupload\:action_browse:active svg {
  fill: var(--file-upload-background, #fff);
}
.anteikudevs-fileupload .anteikudevs-fileupload\:content .anteikudevs-fileupload\:action .anteikudevs-fileupload\:action_browse.disabled:focus,
.anteikudevs-fileupload .anteikudevs-fileupload\:content .anteikudevs-fileupload\:action .anteikudevs-fileupload\:action_browse.disabled:hover,
.anteikudevs-fileupload .anteikudevs-fileupload\:content .anteikudevs-fileupload\:action .anteikudevs-fileupload\:action_browse.disabled:active {
  background-color: #f8f9fa;
  color: #ced4da;
}
.anteikudevs-fileupload .anteikudevs-fileupload\:content .anteikudevs-fileupload\:action .anteikudevs-fileupload\:action_browse.disabled:focus svg,
.anteikudevs-fileupload .anteikudevs-fileupload\:content .anteikudevs-fileupload\:action .anteikudevs-fileupload\:action_browse.disabled:hover svg,
.anteikudevs-fileupload .anteikudevs-fileupload\:content .anteikudevs-fileupload\:action .anteikudevs-fileupload\:action_browse.disabled:active svg {
  fill: #ced4da;
}
.anteikudevs-fileupload .anteikudevs-fileupload\:content .anteikudevs-fileupload\:loading {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: -1;
  transition: all 0.2s linear;
}
.anteikudevs-fileupload .anteikudevs-fileupload\:content .anteikudevs-fileupload\:loading svg {
  width: 50px;
  height: 50px;
}
.anteikudevs-fileupload .anteikudevs-fileupload\:content .anteikudevs-fileupload\:loading svg circle {
  stroke: var(--file-upload-primary, #f57272);
}
.anteikudevs-fileupload .anteikudevs-fileupload\:content .anteikudevs-fileupload\:dragged {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: -1;
  transition: all 0.2s linear;
}
.anteikudevs-fileupload .anteikudevs-fileupload\:content .anteikudevs-fileupload\:dragged svg {
  width: 50px;
  height: 50px;
}
.anteikudevs-fileupload .anteikudevs-fileupload\:content .anteikudevs-fileupload\:dragged svg circle {
  stroke: var(--file-upload-primary, #f57272);
}
.anteikudevs-fileupload .anteikudevs-fileupload\:error {
  position: relative;
  width: 100%;
}
.anteikudevs-fileupload .anteikudevs-fileupload\:error .anteikudevs-fileupload\:error_item {
  font-size: 12px;
  color: #dc3545;
  display: block;
  margin-top: 10px;
  font-weight: 500;
  padding: 0.5rem 0.8rem;
  border: 1px solid var(--file-upload-danger, #dc3545);
  border-radius: 10px;
  background: var(--file-upload-sub-danger, #fcf0f1);
}
.anteikudevs-fileupload .anteikudevs-fileupload\:error .anteikudevs-fileupload\:error_item .anteikudevs-fileupload\:error_filename {
  max-width: 100px;
}
.anteikudevs-fileupload .anteikudevs-fileupload\:result {
  position: relative;
  width: 100%;
}
.anteikudevs-fileupload .anteikudevs-fileupload\:result .anteikudevs-fileupload\:result_item {
  width: 100%;
  display: flex;
  flex-direction: row;
  border-radius: 10px;
  align-items: center;
  padding: 15px;
  gap: 10px;
  margin-top: 15px;
  margin-bottom: 8px;
  box-shadow: 0 0 8px #eaeaea;
  animation: fadeIn;
  animation-duration: 0.5s;
  background-color: var(--file-upload-background, #fff);
}
.anteikudevs-fileupload .anteikudevs-fileupload\:result .anteikudevs-fileupload\:result_item .anteikudevs-fileupload\:result_image {
  width: 43px;
  height: 43px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  border: 1px solid var(--file-upload-primary, #f57272);
  overflow: hidden;
  cursor: pointer;
  background-color: var(--file-upload-secondary, #fffcec);
}
.anteikudevs-fileupload .anteikudevs-fileupload\:result .anteikudevs-fileupload\:result_item .anteikudevs-fileupload\:result_image img {
  transition: all 0.2s linear;
}
.anteikudevs-fileupload .anteikudevs-fileupload\:result .anteikudevs-fileupload\:result_item .anteikudevs-fileupload\:result_image svg {
  width: 20px;
  height: 20px;
  margin: auto;
}
.anteikudevs-fileupload .anteikudevs-fileupload\:result .anteikudevs-fileupload\:result_item .anteikudevs-fileupload\:result_image svg path {
  fill: var(--file-upload-primary, #f57272);
}
.anteikudevs-fileupload .anteikudevs-fileupload\:result .anteikudevs-fileupload\:result_item .anteikudevs-fileupload\:result_image:hover img {
  transform: scale(1.5);
}
.anteikudevs-fileupload .anteikudevs-fileupload\:result .anteikudevs-fileupload\:result_item .anteikudevs-fileupload\:result_info {
  flex: 1;
}
.anteikudevs-fileupload .anteikudevs-fileupload\:result .anteikudevs-fileupload\:result_item .anteikudevs-fileupload\:result_info .anteikudevs-fileupload\:result_info_title {
  font-size: 14px;
  font-weight: 600;
  margin: 0;
  margin-bottom: 5px;
  display: -webkit-box;
  -webkit-line-clamp: 1; /* Number of lines to display */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.anteikudevs-fileupload .anteikudevs-fileupload\:result .anteikudevs-fileupload\:result_item .anteikudevs-fileupload\:result_info .file_upload_result_info_span {
  font-size: 12px;
  display: block;
  color: #adb5bd;
}
.anteikudevs-fileupload .anteikudevs-fileupload\:result .anteikudevs-fileupload\:result_item .anteikudevs-fileupload\:result_action {
  width: 20px;
}
.anteikudevs-fileupload .anteikudevs-fileupload\:result .anteikudevs-fileupload\:result_item .anteikudevs-fileupload\:result_action .anteikudevs-fileupload\:result_action_close {
  width: 25px;
  height: 25px;
  transition: all 0.2s linear;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: var(--file-upload-primary, #f57272);
  border-radius: 50%;
  color: var(--file-upload-primary, #f57272);
  user-select: none;
  border: 0;
  outline: none;
  font-size: 12px;
  cursor: pointer;
}
.anteikudevs-fileupload .anteikudevs-fileupload\:result .anteikudevs-fileupload\:result_item .anteikudevs-fileupload\:result_action .anteikudevs-fileupload\:result_action_close svg {
  width: 13px;
  height: 13px;
  fill: var(--file-upload-background, #fff);
}

.anteikudevs-fileupload\:preview {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0.5rem;
  display: none;
  z-index: 1060;
  max-height: 100vh;
  overflow: auto;
  transition: all 0.2s linear;
}
.anteikudevs-fileupload\:preview img {
  width: 100%;
}
.anteikudevs-fileupload\:preview.show {
  display: flex;
}
.anteikudevs-fileupload\:preview.show .anteikudevs-fileupload\:preview_dialog {
  display: block;
  animation: zoomIn;
  animation-duration: 0.3s;
}
.anteikudevs-fileupload\:preview.hiding .anteikudevs-fileupload\:preview_dialog {
  animation: zoomOut;
  animation-duration: 0.3s;
}
.anteikudevs-fileupload\:preview .anteikudevs-fileupload\:preview_dialog {
  position: relative;
  border-radius: 10px;
  background-color: #fff;
  width: 100%;
  margin: auto;
  display: none;
  box-shadow: 0 0 10px rgba(154, 154, 154, 0.21);
}
@media screen and (min-width: 768px) {
  .anteikudevs-fileupload\:preview .anteikudevs-fileupload\:preview_dialog {
    width: 500px;
  }
}
.anteikudevs-fileupload\:preview .anteikudevs-fileupload\:preview_dialog .anteikudevs-fileupload\:preview_content .anteikudevs-fileupload\:preview_header {
  position: relative;
  width: 100%;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.anteikudevs-fileupload\:preview .anteikudevs-fileupload\:preview_dialog .anteikudevs-fileupload\:preview_content .anteikudevs-fileupload\:preview_header .anteikudevs-fileupload\:preview_title {
  font-size: 1.6rem;
  margin: 0;
  color: var(--file-upload-primary, #f57272);
}
.anteikudevs-fileupload\:preview .anteikudevs-fileupload\:preview_dialog .anteikudevs-fileupload\:preview_content .anteikudevs-fileupload\:preview_header .anteikudevs-fileupload\:preview_btn_close {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: var(--file-upload-primary, #f57272);
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  outline: none;
  cursor: pointer;
}
.anteikudevs-fileupload\:preview .anteikudevs-fileupload\:preview_dialog .anteikudevs-fileupload\:preview_content .anteikudevs-fileupload\:preview_header .anteikudevs-fileupload\:preview_btn_close svg {
  width: 15px;
  height: 15px;
  fill: var(--file-upload-background, #fff);
}
.anteikudevs-fileupload\:preview .anteikudevs-fileupload\:preview_dialog .anteikudevs-fileupload\:preview_content .anteikudevs-fileupload\:preview_body {
  width: 100%;
  position: relative;
  padding: 0.5rem 1rem;
  min-height: 100px;
}
.anteikudevs-fileupload\:preview .anteikudevs-fileupload\:preview_dialog .anteikudevs-fileupload\:preview_content .anteikudevs-fileupload\:preview_footer {
  width: 100%;
  padding: 1rem 0.8rem;
  display: flex;
  justify-content: space-between;
}
.anteikudevs-fileupload\:preview .anteikudevs-fileupload\:preview_dialog .anteikudevs-fileupload\:preview_content .anteikudevs-fileupload\:preview_footer .btn {
  display: inline-block;
  background-color: var(--file-upload-primary, #f57272);
  color: var(--file-upload-background, #fff);
  border: 0;
  border-radius: 10px;
  padding: 0.6rem 1rem;
  margin: 0 auto;
  cursor: pointer;
  outline: none;
}

.anteikudevs-fileupload\:preview_backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.15);
  z-index: 1060;
  display: none;
}

body.anteikudevs-fileupload\:show .anteikudevs-fileupload\:preview_backdrop {
  display: block;
  animation: fadeIn;
  animation-duration: 0.3s;
}

@-webkit-keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  50% {
    opacity: 1;
  }
}
@keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  50% {
    opacity: 1;
  }
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes zoomOut {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  to {
    opacity: 0;
  }
}
@keyframes zoomOut {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  to {
    opacity: 0;
  }
}

/*# sourceMappingURL=file-upload.css.map */
